<!DOCTYPE HTML>
<html>
    <head>
        <title>팁의 민족 tipEthnic</title>
        <meta charset="utf-8"/>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"/>
        <link type="text/css" rel="stylesheet" href="css/main.css"/>
    </head>

    <body>
        <header>
            <img
                srcset="images/title01.png 320w,
                images/title01.png 480w,
                images/title01.png 800w"
                sizes="(max-width: 320px) 280px,
                        (max-width: 480px) 440px,
                                            800pnx"
                src="/assets/images/title01.pg"
                alt="팁의 민족 title"/>

            <div>이 사이트는 배달 거리가 입력한 거리(km) 이상일 때, 100m당 100원을 추가 배달비로 산정합니다.</div>
        </header>

        <section>
            <div class="input_wrapper">
                <div class="sender">
                    <label for="sender"><div>가게</div></label>
                    <input class="input_field sender_input" type="text" id="sender" readonly="readonly">
                    <button type="button" class="senderBtn">검색</button>
                </div>

                <div class="receiver">
                    <label for="receiver"><div>배달장소</div></label>
                    <input class="input_field receiver_input" type="text" id="receiver" readonly="readonly" >
                    <button class="receiverBtn searchBtn" type="button">검색</button>
                    <button type="button" class="nowBtn">현위치</button>
                </div>

                <!--거리 입력-->
                <!-- <div class="distance"> <form onsubmit="send_maginot(); return false;">
                <input type="text" id="maginot"> <div>km</div> </form> </div> -->

                <div class="cal">
                    <button type="button" class="resultBtn" id="Delivery-fee-Calculation">조회</button>
                </div>
            </div>

            <div class="result_wrapper">
                <div class="resultInfo">
                    <div id="result"></div>
                </div>
                       
                <!-- <div id="map_wrap" class="map_wrap"> <div id="map_div"></div> </div> -->
            </div>

        </section>
        <script type="module" src="../js/App.js"></script>
        <!-- Scripts -->
        <!-- <script src="/assets/js/main.js"></script>
        <script src="/assets/js/disCal.js"></script>
        <script src="/assets/js/now.js"></script>
        <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5a0cfc898b4333b701a26737da1fde7"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script
            src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxd89e57a2e4c84165b7661e4884dc603d"></script> -->

    </body>
</html>