@import url('./reset.css');
/* @import url('./button.css'); */

body{
    min-height: 100vh;
    width: 960px;
    background-image: url("/assets/images/bg01.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0 auto;;
}

body::-webkit-scrollbar {
    display: none;
  }
  
.container{
    width: 100%;
}

#map_div{
    display: block;
}

header{
    width: 100%;
    color: #E5E0FF;
    text-align: center;
    padding-top: 58px;
}

.explain {
    padding : 10px 0;
}

section{
text-align: center;
margin: 30px 0;
}


.input_wrapper{
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    align-items: center;
    place-items: center;
}

.inputName{
    justify-self: end;
}

.input_field{
width: 250px;
height: 32px;
font-size: 15px;
border: 1px solid white;
border-radius: 5px;
outline: none;
background: transparent;
/* background-color: rgb(233, 233, 233); */
}

.inputBtn{
    justify-self: start;
}
.receiverBtn{
margin-right: 10px;
}

.distance{
    display: none;
}

.cal {
    margin: 30px 0;
}

.resultInfo {
    margin-bottom: 30px;
}



/* Button */
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  background-color: ##CEF2D7;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 1em;
  height: 2em;
  line-height: 1.75em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  /* input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    background-color: #dddddd; }
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  button:active,
  .button:active {
    background-color: #a1a1a1; }
  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    opacity: 0.5; } */
  @media screen and (max-width: 480px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
      width : 4em;
      height: 2em;
      padding: 0; } }


